<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      <%= article.title %>
    </title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="rntricks.com" />
    <meta name="description" content="<%= article.subtitle %>" />
    <meta name="author" content="rntricks.com" />
    <meta name="theme-color" content="<%= article.color %>" />
    <meta property="og:url" content="https://www.rntricks.com<%= article.url %>" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= article.title %>" />
    <meta property="og:description" content="<%= article.subtitle || (article.body[0].innerText + article.body[1].innerText)  %>" />
    <meta property="og:image" content="https://www.rntricks.com<%= article.coverImageUrl %>" />
    <%- include partials/resources.ejs %> 
    <%- include('partials/jsonld', { article }) %>
  </head>

  <body>
    <%- include('partials/header', { selectedPage: article.type }) %>

    <div id="fb-root"></div>
    <script
      async
      defer
      crossorigin="anonymous"
      src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=306856700168414&autoLogAppEvents=1"
    ></script>
    <div class="article">
      <div class="article-header">
        <h1 class="article-title">
          <%= article.title %>
        </h1>
      </div>

      <h4 class="article-subtitle">
        <%= article.subtitle %>
      </h4>

      <div>
        <a class="article-type" style="background-color: <%= article.color %>;" href="#"><%= article.type %> </a>
        <span class="article-date">
          <%= moment(article.date, 'DD/MM/YYYY').format('MMMM DD, YYYY') %>
        </span>
      </div>
      <picture class="article-cover">
        <source srcset="<%= article.coverImageUrl.replace('.jpg', '.webp') %>" type="image/webp" />
        <source srcset="<%= article.coverImageUrl %>" type="image/jpeg" />
        <img src="<%= article.coverImageUrl %>" alt="Article Cover Photo" />
      </picture>

      <div class="article-body">
        <%- article.body.map(block => mapBlockToHtml(block, article.url)).join('') %>
      </div>
    </div>

    <%- include('partials/footer', { dataHref: `https://www.rntricks.com${article.url}`, href:
    `https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.rntricks.com${article.url}%2F&amp;src=sdkpreparse`, type: 'article' }) %>
  </body>
</html>
